.yii2upload input[type=file] {opacity: 0;width: 0;height: 0;}

.yii2upload .image {
	border: 4px solid #ccc;
	position: relative;
	min-width: 250px;
	min-height: 180px;
	display: inline-block;
	border-radius: 6px;
	margin-right: 20px;
}
.yii2upload .fileinput-button {padding: 9px;}
.yii2upload .image .actions  { position: absolute; top: 2px; right: 5px;}

.yii2upload .filelist {margin-top: 20px;}

.yii2upload .drop-zone {
	color: #fff;
	border-radius: 6px;
	background: #cccccc;
	border: 4px dotted #fff;
	padding: 4px;
	text-align: center;
}
.clear { clear: both;}